venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

mlruns/
notebooks/mlruns/
notebooks/mlflow.db
local_saved_models/

src/data/processed/

.DS_Store
Thumbs.db

# MLflow
mlruns/
mlflow.db
mlartifacts/

# Python
__pycache__/
*.pyc

# Environment
venv/

# Jupyter
.ipynb_checkpoints/
